<!DOCTYPE html>
<html>
<head>
  <title>Edytuj film</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<h1>Edytuj film</h1>
<form action="/edit/<%= movie.id %>" method="post" class="edit-movie-form">
  <label for="title">Tytuł:</label>
  <input type="text" id="title" name="title" value="<%= movie.title %>" required /><br />
  <label for="genre">Gatunek:</label>
  <input type="text" id="genre" name="genre" value="<%= movie.genre %>" required /><br />
  <label for="year">Rok:</label>
  <input type="number" id="year" name="year" value="<%= movie.year %>" required /><br />
  <button type="submit" class="edit-movie-button">Aktualizuj film</button>
</form>
<form action="/" method="get" class="edit-form">
  <button type="submit" id="returnToList" class="return-to-list">Powrót do listy</button>
</form>
</body>
</html>